<!--
<input type='text' ng-model='text'></input>
<button ng-click='save()'>Save</button>
-->
<div ng-show='!currentlyDown'>
    <h1>You appear to be up! High five!</h1>
    <h2>Are you down?</h2>
    <textarea ng-model='text' placeholder='Optional explanation'></textarea>
    <div>
        <button ng-click='moodDown()'>I am Down</button>
    </div>
</div>
<div ng-show='currentlyDown'>
    <h2>Are you up?</h2>
    <textarea ng-model='text' placeholder='Optional explanation'></textarea>
    <div>
        <button ng-click='moodUp()'>I am Up</button>
    </div>
</div>

<div>
    <h2>History</h2>
    <div ng-class="{true: 'up', false:'down'}[up]" ng-repeat='time in times'>
        {{time.text}} at {{time.time}}
    </div>
</div>
